@{
    ViewData["title"] = "Categorias";
}
@model List<sistema_loja_venda.Entidades.Categoria>;

<h2>Categorias</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:#f6f6f6">
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Editar(@item.Codigo)" style="cursor:pointer;">
                <td>@item.Codigo</td>
                <td>@item.Descricao</td>
            </tr>
        }
    </tbody>
</table>
<br />

<button type="button" class="btn btn-block btn-primary" onclick="Cadastrar()">Cadastrar Categoria</button>

<script>
    function Cadastrar() {
        window.location = window.origin + "\\Categoria\\Cadastro";
    }
</script>