
@{ 
    ViewData["Title"] = "MyStock - Erro";
    Layout = null;
}

<div class="row" style="text-align:center;">
    <h1>Ocorreu um erro na aplicação... Entre em contato com o administrador!</h1>
</div>